/* variables */
:root {
--lavender: #D9D3E9;
--dkpurple: #2A136D;
--ltpurple: #BB5BE6;
--dkgray: #878588;
}

/* element styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--dkpurple);
    border-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: var(--ltpurple);
}

h1 {
    text-align: center;
}

header {
    margin: 0 auto 30px;
    max-width: 1000px;
}

input {
    background-color: lavender;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 50px;
}

main p {
    margin-bottom: 30px;
    padding: 0 50px;
    text-align: center;
}


/* oo classes */
.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.response {
    border-top: 1px solid var(--dkgray);
    color: var(--dkgray);
    display: none;
    font-style: italic;
    padding: 5px 0;
    text-align: left;

}

button.scores {
    background-color:transparent;
    color: var(--ltpurple);
}

button.scores:hover {
    color: var(--dkpurple);
}

.quiz-container button:not(.start) {
    display: block;
    margin-bottom: 10px;
}

.quiz-container .start {
    display: block;
    margin:0 auto;
}

/* media queries */
@media screen and (max-width: 375px) {
}

@media screen and (min-width: 376px) and (max-width: 1119px) {

}